@{
    ViewBag.Title = "Inicio";
}


<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
<section class="jumbotron">
    <div class="container">
        <div class="row text-center">
            <h1>G2A Games Store</h1>
            <p>@Html.ActionLink("Gestor de Compras »", "Manager", "Buys", null, new { @Class = "btn btn-success btn-lg" })</p>
        </div>
    </div>
</section>

